---
import MemberCard from "../../components/MemberCard.astro";
import PageLayout from "../../layouts/PageLayout.astro";
import type { Variant } from "../../variants.ts";

export { getStaticPaths } from "../../variants.ts";

const variant: Variant = Astro.props.variant;

type Member = { name: string, img: string };
const membersObj = await import(`/src/assets/members/${variant.getId()}.json`, {with: {type: "json"}});
const members: Member[] = membersObj.members;
---

<PageLayout {variant}>
  <div class="card-container">
    {members.map(({ name, img }) => (
      <MemberCard name={name} src={import(`/src/assets/members/${img}`)} {variant}/>
    ))}
  </div>
</PageLayout>

<style>
  .card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    margin: 16px;
    gap: 16px;
  }
</style>
