---
import { Image } from "astro:assets";
import type { Variant } from "../variants.ts";
import { getAsset } from "../assets.ts";

interface Props {
  variant: Variant;
}

const { variant } = Astro.props;
---

<div class="navbar">
  <Image src={getAsset(`logos/${variant.getId()}.png`)} alt={"IT für Alle Logo"} loading="eager"/>
  <div class="links">
    <a href={`/${variant.getId()}/`}>Startseite</a>
    <a href={`/${variant.getId()}/mitglieder`}>Mitglieder</a>
    <a href={`/${variant.getId()}/termine`}>Termine</a>
  </div>
</div>

<style define:vars={{"primary-color": `var(--primary-color-${variant.getId()})`}}>
  .navbar {
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px;
    border-bottom: 4px solid var(--primary-color);
  }

  img {
    height: 100%;
    width: auto;
  }

  .links {
    height: 100%;
    display: flex;
  }

  a {
    text-decoration: none;
    color: black;
    height: 100%;
    display: flex;
    align-items: center;
    padding: 0 16px;
    font-size: larger;

    &:hover {
      background-color: var(--primary-color);
      color: white;
    }
  }
</style>